@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body{
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    display: flex;
    flex-direction: column;
}

.header-container{
    background: #1F2937;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 100px;
    padding-left: auto;
    padding-right: 7rem;
}

.header img{
    height: 100px;
    width: 150px;
}

.header ul{
    display: flex;
    list-style: none;
    column-gap: 16px;
}

li a{
    text-decoration: none;
    color: white;
}